{% include 'base.html' %} {% block title %}{{ GenericBeer }}{% endblock %} 
{% block content %} <body> {% include 'navbar.html' %}

	  <section>
		<div class="relative mx-auto max-w-screen-xl px-4 py-8">
		  <div>
			<h1 class="text-2xl font-bold lg:text-3xl">{{ beer.name }}</h1>
			<p class="mt-1 text-sm text-gray-500">ID: #{{beer.id}}</p>
		  </div>
		  <div class="grid gap-8 lg:grid-cols-4 lg:items-start">
			<div class="lg:col-span-3">
			  <div class="relative mt-4">
				<img alt="Tee" src="{{beer.image}}" class="h-72 w-50 rounded-l object-cover lg:h-[540px]" />
			
			  </div>
			 
			</div>
			<div class="lg:sticky lg:top-0">
			  <form class="space-y-4 lg:pt-8">
				{% comment %}
				<fieldset>
				  <legend class="text-lg font-bold">Color</legend>
				  <div class="mt-2 flex gap-1">
					<label for="color_green" class="cursor-pointer">
					  <input type="radio" id="color_green" name="color" class="peer sr-only" checked />
					  <span class="block h-6 w-6 rounded-full border border-gray-200 bg-green-700 ring-1 ring-transparent ring-offset-1 peer-checked:ring-gray-300"></span>
					</label>
					<label for="color_blue" class="cursor-pointer">
					  <input type="radio" id="color_blue" name="color" class="peer sr-only" />
					  <span class="block h-6 w-6 rounded-full border border-gray-200 bg-blue-700 ring-1 ring-transparent ring-offset-1 peer-checked:ring-gray-300"></span>
					</label>
					<label for="color_pink" class="cursor-pointer">
					  <input type="radio" id="color_pink" name="color" class="peer sr-only" />
					  <span class="block h-6 w-6 rounded-full border border-gray-200 bg-pink-700 ring-1 ring-transparent ring-offset-1 peer-checked:ring-gray-300"></span>
					</label>
					<label for="color_red" class="cursor-pointer">
					  <input type="radio" id="color_red" name="color" class="peer sr-only" />
					  <span class="block h-6 w-6 rounded-full border border-gray-200 bg-red-700 ring-1 ring-transparent ring-offset-1 peer-checked:ring-gray-300"></span>
					</label>
					<label for="color_indigo" class="cursor-pointer">
					  <input type="radio" id="color_indigo" name="color" class="peer sr-only" />
					  <span class="block h-6 w-6 rounded-full border border-gray-200 bg-indigo-700 ring-1 ring-transparent ring-offset-1 peer-checked:ring-gray-300"></span>
					</label>
				  </div>
				</fieldset>{% endcomment %}
				  <h3 class="text-lg font-bold">Style/taste</h3>
				  <div class="mt-2 flex gap-1">
					<p>{{beer.style}}</p>
					<p>{{beer.}}</p>
					

				  </div>
				<div class="rounded border bg-gray-100 p-4">
				  <p class="text-sm">
					<span class="block"> Pay as low as $3/mo with 0% APR. </span>
					<a href="" class="mt-1 inline-block underline"> Find out more </a>
				  </p>
				</div>
				<div>
				  <p class="text-xl font-bold">Actions</p>
				</div>
				<button type="submit" class="w-full rounded bg-red-700 px-6 py-3 text-sm font-bold uppercase tracking-wide text-white">Delete</button>
				<button type="submit" class="w-full rounded bg-blue-700 px-6 py-3 text-sm font-bold uppercase tracking-wide text-white">Edit</button>

			  </form>
			</div>
			<div class="lg:col-span-3">
			  <div class="prose max-w-none [&>iframe]:mt-6 [&>iframe]:aspect-video [&>iframe]:w-full [&>iframe]:rounded-xl">
				<h2>Features</h2>
				<div class="flex">
				<ul>
					<li>{{beer.countries_sold_in}}</li>
				</ul>


				</div>
			  
				<h2>Taste</h2>
				
				<p>{{beer.taste}} </p>
				
			  </div>
			</div>
		  </div>
		</div>
	  </section>
	</body> {% endblock %}